#parent-header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
     url("https://images.unsplash.com/photo-1613759083012-0abc48183280?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2024&q=80");
    
    height: 90vh;
    width: 100%;
    background-position: center;
    /* background-size: cover; */
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}
#search_area{
display: flex;
justify-content: center;
}
#search_box{
    height: 50px;
    border-radius: 0px;
}
#search_icon{
    position: absolute;
    top: 320px;
    right: 350px;
    cursor: pointer;
    color: white;
}
#pexel-logo{
    border-radius: 10px;
}
.item>img{
 height: 100%;
 width: 100%;
 object-fit: cover;   
}
/* .gallery-head{
    
} */
.gallery{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px ;
    flex-wrap: wrap;
    flex-direction: column;
}
.sura{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.gallery img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 15px;
}
.butt{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    width: 40px;
    height: 50px;
    background-color: white;
    margin-top: 24px;
    border-radius: 0;
    margin-left: -2px;
    border-color: white;
    border: 0;
}
.gallery ul{
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 500px;
    margin-top: 50px;
}
.gallery li{
    list-style-type: none;
}
.gallery a{
    color: black;
    text-decoration: none;
}
.gallery span{
    padding:13px 20px;
    background-color: black;
    color: white;
    border-radius: 30px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  .header_1{
    margin: 15px 80px;
  }
  .sponser{
    margin-top: 50px;
    margin-left: 70px;
  }
  #sp{
    margin-left: 70px;
  }
  .ad{
    margin-right: 80px;
    height: 50px;
    margin-top: 50px;
  }
.cr{
    background-color: rgba(0, 0, 0, 0.025);
}
.links a{
    text-decoration: none;
}
.links p{
    margin-bottom: 0;

}
.zzz{
margin-top: 280px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.zzz ul{
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 500px;
    margin-top: 50px;
}
.zzz li{
    list-style-type: none;
}
.zzz a{
    color: black;
    text-decoration: none;
}
.zzz span{
    padding:13px 20px;
    background-color: black;
    color: white;
    border-radius: 30px;
}


@media(max-width:600px){
    .gallery ul{
        display: none;
    }
    .gallery img{
        width: 350px;
        

}
.header_1{
    margin-top: 100px;
    margin-left: 100px;
}
.ad{
    display: none;
}
.sponser{
    margin-left: 50px;
}
}